<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tbm">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TBM">
        <activity android:name=".SearchResultActivity"/>
        <activity android:name=".LibraryActivity" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".ShoppingCartActivity"
            android:label="@string/title_activity_shopping_cart"
            android:theme="@style/Theme.TBM.NoActionBar" />
        <activity android:name=".CheckOutActivity" />
        <activity android:name=".ReadingActivity" />
        <activity android:name=".BookPreviewActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".LogInActivity"/>
        <activity android:name=".ChangePasswordActivity"/>
        <activity android:name=".SignUpActivity" />

        <activity android:name=".HomepageActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>